body{
	margin: 0;
}

.header {
	display: flex;
	height: 200px;
}

.header-left{
	width: 200px;
	background-color: lightblue;
}

.header-right{

	width: calc(100% - 200px);
	background-color: bisque;
}

.main{

	height: 500px;
	display: flex;

}

.main-left{
	width: 200px;
	background-color: aliceblue;
}

.main-right{
	width: 200px;
	background-color: aqua;
}

.content{
	width: calc(100% - 400px);
	background-color: blueviolet;
}

.main-nav{
	height: 200px;
	background-color: red;
}