body {
	font-family: 'Inter Tight', sans-serif;
}
.main-menu {
	display: flex;
	align-items: center;
	list-style-type: none;
}

.main-menu>a {
	text-decoration: none;
	margin: 32px;
}



.nav-menu>div {
	display: flex;
	justify-content: space-around;

}

.header{

	max-width: 1400px;
	margin: 0 auto;
}

.header>div>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin-bottom: 88px;
}

.header-description{

	display: flex;
	width: 856px;
	
	
	
}

.header-description > div{
	text-align: center;
	
	width: 200px;
	display: flex;
	/* flex-direction: column; */
	/* align-items: center; */

}

.header-description>h1 {

	text-align: center;
	font-size: 48px;
	font-style: normal;
	font-weight: 600;
	line-height: 135%;
	padding-bottom: 40px;
}

.header-description>span {

	font-size: 21px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
	padding-bottom: 24px;
}

.header-description>p {
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}

.header-description-color {
	color: #04959E;
}

.header-description>ol {
	padding-left: 40px;
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;

}